{{> header}}

<div class="container">
    <div class="heading d-flex-responsif">
        <h1>Kabupaten</h1>
        <div class="crud-session">
            <button><a href="/pulau/add-province">Add Provinsi</a></button>
            <button><a href="/pulau/add-district">Add Kabupaten</a></button>
        </div>
    </div>
    <div class="container">
        <form action="/search" method="POST">
            <select name="option">
                <option value="provinsi">Provinsi</option>
                <option value="kabupaten" selected>Kabupaten</option>
            </select>
            <button type="submit">search by</button>
        </form>
        <div class="wrapper_provinsi">
            {{#each districts}}
                <div class="card-item_provinsi text-center">
                    <div class="image-section">
                        <img src="/uploads/{{this.photo}}" width="100px" alt="">
                        <p class="title">{{this.nama}}</p>
                    </div>
                    <button class="btn btn-success"><a class="text-center" href="/pulau/district/detail/{{this.id}}">Detail</a></button>
                </div>
            {{/each}}
        </div>
        <p>{{option}}</p>
    </div>
</div>

{{> footer}}