{{> header}}

{{#if message}}
  <div class="alert alert-{{message.type}}">
    {{message.message}}
  </div>
{{/if}}

<div class="container login-regis">
    <form action="" method="POST" class="form">
        <h2 class="text-center">Login to Dashboard</h2>
        <br>
        <input type="email" name="email" placeholder="Input your email..">
        <input type="password" name="password" placeholder="Input your password..">
        <button type="submit" class="btn btn-submit">Login</button>
        <br>
        <p class="text-center">don't have an account? <a href="./register" class="color-primary">register</a></p>
    </form>
</div>

{{> footer}}