{{> header}}

{{#if message}}
  <div class="alert alert-{{message.type}}" role="alert">
    {{message.message}}
  </div>
{{/if}}

<div class="container login-regis">
    <form action="" method="POST" class="form mrl-auto">
        <h2 class="text-center">Form register</h2>
        <br>
        <input type="text" name="name" id="nameInput" placeholder="Input your name..">
        <input type="email" name="email" id="emailInput" placeholder="Input your email..">
        <input type="password" name="password" id="passwordInput" placeholder="Input your password..">
        <button type="submit" class="btn btn-submit">Register</button>
        <br>
        <p class="text-center">Already have an account? <a href="./login" class="color-primary">Login</a></p>
        <p class="text-center">Admin? <a href="./dashboard/login" class="color-primary">Login as admin</a></p>
    </form>
</div>

{{> footer}}