.box-detail_mv {
    display: flex;
    flex-wrap: wrap;
}

.genre {
    margin: 10px 0;
    padding: 3px 7px;
    display: inline-block;
    border-radius: var(--border-trendy);
    background-color: rgba(216, 52, 58, .2);
    box-shadow: var(--box-shadow-theme);
}

.image-movies {
    width: 250px;
    height: 400px;
    overflow: hidden;
}

.image-movies img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.about-movies {
    --margin-about-mv: 20px;

    width: 600px;
    max-width: 90%;
    margin: 0 var(--margin-about-mv);
}

.alert {
    color: var(--bg-theme);
    padding: 8px 12px;
    content: '';
    position: fixed;
    bottom: 20px;
    right: 0;
    transform: translateX(100%);
    background-color: var(--primary-color);
    z-index: 99;
    border-radius: var(--border-trendy);
    animation: alert-show 2s ease-in-out 1;
}


/* section add movie */
.section-add-movie {
    width: 500px;
    max-width: 90%;
    margin: 10px auto 0;
    display: flex;
    justify-content: space-around;
}

.inner-section-add-movie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

.section-add-movie input, .section-add-movie textarea, .genreMovie {
    font-family: 'Poppins';
    padding: 8px 10px;
    width: 300px;
    max-width: 90%;
    margin: 5px;
    border: none;
    border-radius: var(--border-trendy);
    box-shadow: var(--box-shadow-theme);
    resize: none;
}

.section-add-movie button { 
    width: 300px; 
    max-width: 90%;
}

/* cart session */
.form-card {
    display: flex;
    flex-direction: column;
    width: 500px;
    max-width: 90%;
    margin: 10px auto;
}

.form-card input {
    padding: 8px 12px;
    width: 100%;
    box-shadow: var(--box-shadow-theme);
}

.wrapper-card-ticket {
    display: flex;
    flex-wrap: wrap;
}

.card-ticket {
    margin: 10px;
    padding: 20px;
    width: 200px;
    max-width: 90%;
    height: 400px;
    
    border-radius: var(--border-trendy);
    background-color: var(--bg-theme);
    box-shadow: var(--box-shadow-theme);
}


/* close */

@keyframes alert-show {
    0% {
        transform: translateX(100%);
    }
    50% {
        transform: translateX(-150%);
    }
}
