.text-center { text-align: center }
.title { color: var(--title-color) }
.subtitle { 
    color: var(--subtitle-color);
    font-size: 13px; 
}
.teks-center { text-align: center }

/* position */
.pos-rel { position: relative }

/* display */
.d-flex { display: flex }
.justify-center { justify-content: center }
.align-center { align-items: center }
.d-flex-horizontal {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.d-flex-vertical {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.d-flex-only {
    display: flex;
    align-items: center;
}
.d-flex-responsif {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.width-responsif {
    width: 1100px;
    max-width: 90%;
    margin: 0 auto;
}

/* margin */
.mrl-s { margin: 0 8px }
.mrl-l { margin: 0 16px }
.mrl-m { margin: 0 24px }
.ml-s { margin-left: 8px }
.ml-l { margin-left: 16px }
.ml-m { margin-left: 24px }
.mr-s { margin-right: 8px }
.mr-l { margin-right: 16px }
.mr-m { margin-right: 24px }
.mt-s { margin-top: 5px }
.mt-l { margin-top: 10px }
.mt-m { margin-top: 15px }

/* padding */
.p-top-btm-s { padding: 50px 0; }

.p-responsif-s { padding: 8px 12px }
.ptb-s { padding: 8px 0 }
.ptb-l { padding: 16px 0 }
.ptb-m { padding: 24px 0 }

/* border */
.b-radius-s { border-radius: 5px }
.b-radius-l { border-radius: 13px }
.b-radius-m { border-radius: 24px }