/* session container left */
.logo a {
    font-family: 'TimeBurner';
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
}
.in-container__left {
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: var(--size-width-left);
    height: 100%;
    background-color: var(--bg-theme);
    border-right: 1px solid rgba(0, 0, 0, .1);
    z-index: 20;
}

.navbar li {
    display: flex;
    align-items: center;
    margin: 5px 0;
    padding: 4px 8px;
    border-radius: var(--border-trendy);
    cursor: pointer;
}

.navbar li:hover .fas, .navbar .active .fas {
    color: var(--primary-color);
    border-radius: 5px;
    box-shadow:  10px 10px 15px #d4d5d9,
             -10px -10px 15px #eaeaee;
}

.title_navbar {
    color: var(--gray);
}

.navbar a { 
    width: 100%;
    display: block 
}

.navbar i { 
    margin-right: 10px;
    padding: 5px;
}

.navbar .active { position: relative }

.navbar .active::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -5px;
    transform: translateY(-50%);
    width: 5px;
    height: calc(100% - 20px);
    background-color: var(--primary-color);
}

.navbar .active a { 
    font-weight: bold;
    color: var(--primary-color) 
}

/* close */