@font-face {
    font-family: 'Mont-light';
    src: url('../font/Mont-ExtraLight.otf');
}

@font-face {
    font-family: 'Mont-bold';
    src: url('../font/Mont-Heavy.otf');
}

body {
    font-family: 'Mont-bold', Arial, Helvetica, sans-serif;
}

.container {
    padding: 20px 50px;
}

.wrapper_provinsi {
    display: flex;
    flex-wrap: wrap;
}

.image-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    height: 200px;
    margin: 10px;
    padding: 10px;
    background-color: coral;
}

/* button section */
.target-btn-delete, .target-btn-update {
    display: none;
}

.target-btn-delete.active, .target-btn-update.active {
    display: block;
}
/* close */